extends layout

block head
  script.
    window.define = function(dep, module) {
      window.twitchListener = module();
    }
  script(src='/scripts/twitch-listener.js')

block content
  h1= title
  p Welcome to #{title}
  h2 Subscribers
  ol
    for subscriber in subscribers
      li= typeof subscriber === 'string' ? subscriber : JSON.stringify(subscriber)
  h2 Streams
  ol
    for stream in live
      li= typeof stream === 'string' ? stream : JSON.stringify(stream)
  div#panel
  script.
    const el = document.getElementById('panel');
    window.twitchListener.start({el});

