.twitch-subscribe-banner {
  position: fixed;
  z-index: 5000;
  bottom: 100vh;
  left: 30px;
  width: calc(100vw - 60px);
  background-color: #001e3c;
  border: 3px solid #fff;
  border-radius: 3px;
  animation: swoosh 0.5s forwards;
}
.twitch-subscribe-banner__text {
  font-size: 16px;
  margin: 20px;
  color: #fff;
}
.twitch-subscribe-banner__text a {
  color: #db0a40;
}
.confetti-container {
  opcaity: 0;
  animation: fade 3s linear;
}
.confetti {
  width: 10px;
  height: 10px;
}
.confetti-wrapper {
  position: fixed;
  z-index: 7000;
}
@-moz-keyframes swoosh {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100% + 30px));
  }
}
@-webkit-keyframes swoosh {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100% + 30px));
  }
}
@-o-keyframes swoosh {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100% + 30px));
  }
}
@keyframes swoosh {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100% + 30px));
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes rotate-0 {
  0% {
    transform: rotate3d(0.9, -0.3, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.3, 0.1, -360deg);
  }
}
@-webkit-keyframes rotate-0 {
  0% {
    transform: rotate3d(0.9, -0.3, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.3, 0.1, -360deg);
  }
}
@-o-keyframes rotate-0 {
  0% {
    transform: rotate3d(0.9, -0.3, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.3, 0.1, -360deg);
  }
}
@keyframes rotate-0 {
  0% {
    transform: rotate3d(0.9, -0.3, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.3, 0.1, -360deg);
  }
}
@-moz-keyframes rotate-1 {
  0% {
    transform: rotate3d(0.9, 0.2, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.2, 0.1, 360deg);
  }
}
@-webkit-keyframes rotate-1 {
  0% {
    transform: rotate3d(0.9, 0.2, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.2, 0.1, 360deg);
  }
}
@-o-keyframes rotate-1 {
  0% {
    transform: rotate3d(0.9, 0.2, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.2, 0.1, 360deg);
  }
}
@keyframes rotate-1 {
  0% {
    transform: rotate3d(0.9, 0.2, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.2, 0.1, 360deg);
  }
}
@-moz-keyframes rotate-2 {
  0% {
    transform: rotate3d(1, 0.1, 0.2, 0deg);
  }
  100% {
    transform: rotate3d(1, 0.1, 0.2, 360deg);
  }
}
@-webkit-keyframes rotate-2 {
  0% {
    transform: rotate3d(1, 0.1, 0.2, 0deg);
  }
  100% {
    transform: rotate3d(1, 0.1, 0.2, 360deg);
  }
}
@-o-keyframes rotate-2 {
  0% {
    transform: rotate3d(1, 0.1, 0.2, 0deg);
  }
  100% {
    transform: rotate3d(1, 0.1, 0.2, 360deg);
  }
}
@keyframes rotate-2 {
  0% {
    transform: rotate3d(1, 0.1, 0.2, 0deg);
  }
  100% {
    transform: rotate3d(1, 0.1, 0.2, 360deg);
  }
}
@-moz-keyframes drop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(72wh);
  }
  100% {
    opacity: 0;
    transform: translateY(90vh);
  }
}
@-webkit-keyframes drop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(72wh);
  }
  100% {
    opacity: 0;
    transform: translateY(90vh);
  }
}
@-o-keyframes drop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(72wh);
  }
  100% {
    opacity: 0;
    transform: translateY(90vh);
  }
}
@keyframes drop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(72wh);
  }
  100% {
    opacity: 0;
    transform: translateY(90vh);
  }
}
