.twitch-subscribe-banner
  position: fixed;
  z-index: 5000;
  bottom: 100vh;
  left: 30px;
  width: calc(100vw - 60px);
  background-color: #001e3c;
  border: 3px solid white;
  border-radius: 3px;
  animation: swoosh 0.5s forwards;

  &__text
    font-size: 16px;
    margin: 20px;
    color: white

    a
      color: #db0a40

@keyframes swoosh {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(100% + 30px));
  }
}

.confetti-container
  opcaity: 0;
  animation: fade 3s linear;

.confetti {
  width: 10px;
  height: 10px;
}

.confetti-wrapper {
  position: fixed;
  z-index: 7000;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate-0 {
  0% {
    transform: rotate3d(0.9, -0.3, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.3, 0.1, -360deg);
  }
}

@keyframes rotate-1 {
  0% {
    transform: rotate3d(0.9, 0.2, 0.1, 0deg);
  }
  100% {
    transform: rotate3d(0.9, 0.2, 0.1, 360deg);
  }
}


@keyframes rotate-2 {
  0% {
    transform: rotate3d(1, 0.1, 0.2, 0deg);
  }
  100% {
    transform: rotate3d(1, 0.1, 0.2, 360deg);
  }
}

@keyframes drop {
  0%   {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(400px);
  }
  100% {
    opacity: 0;
    transform: translateY(500px);
  }
}

.teaser-text--image
  background-image url('https://image.redbull.com/rbcom/010/2013-11-24/P-20131125-00123/0010/1/1500/1000/1/red-bull-battle-grounds-at-the-hammerstein.jpg')

